@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Orbitron:wght@400..900&display=swap');
@import "tailwindcss";

html,
body {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  overflow-x: clip;
  width: 100%;
  max-width: 100vw;
  background: var(--color-black);
  /* Плавный скролл для всех современных браузеров */
  scroll-behavior: smooth;

  /* Для Safari и iOS: плавная инерционная прокрутка при таче/свайпе */
  -webkit-overflow-scrolling: touch;
}

.mono {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

@layer components {
  .gradient-text-green {
    @apply text-transparent bg-clip-text font-medium;
    background-image: radial-gradient(circle at center, rgba(225, 255, 222, 1) 0%, rgba(225, 255, 222, 0.7) 100%);
  }
}